@using LightingSurvey.MvcSite.ViewModels.Survey
@model SummaryPageViewModel
@{
    ViewData["Title"] = "Review your answers";
}

<a asp-action="Question5" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-body">
            <h1 class="govuk-heading-xl">Review your answers</h1>

            <form asp-action="Confirm" method="post">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Name
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-action="Question1">
                                Change<span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Email
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-action="Question2">
                                Change<span class="govuk-visually-hidden"> email address</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Home address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.Address
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-action="Question3">
                                Change<span class="govuk-visually-hidden"> home address</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Happy with lighting
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.HappyWithLighting
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-action="Question4">
                                Change<span class="govuk-visually-hidden"> happyness</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Brightness level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PercievedBrightness
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-action="Question5">
                                Change<span class="govuk-visually-hidden"> brightness</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <button type="submit" data-prevent-double-click="true" class="govuk-button">
                    Confirm and send
                </button>
            </form>
        </div>
    </div>
</main>